body {
  margin: 0;
}

.Game {
  position: fixed;
  top: 100px;
  right: 200px;
  width: 80vw;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.box {
  display: flex;
  width: 270px;
  height: 270px;
  border: thin solid black;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10vmax;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(3n + 1) {
  border-left: none;
}

.box:nth-child(3n + 3) {
  border-right: none;
}
.box:last-child,
.box:nth-child(7),
.box:nth-child(8) {
  border-bottom: none;
}

.winner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-size: 8vmax;
  flex-direction: column;
}

.winner button {
  font-size: 1vmax;
}

.winner.message {
  display: flex;
}

.images {
  display: none;
  width: 20px;
  height: 20px;
}

# button {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-size: 8vmax;
  flex-direction: column;
}
